.button {
    @apply flex items-center justify-center gap-0.5 border-[0.5px] border-solid  text-base rounded leading-3 lg:leading-8 font-yekan600 transition-all; /*shadow-formItemLarge*/
}

.button:disabled {
    cursor: not-allowed;
}

.variant {
    @apply bg-green border-green text-white;
}

.text {
    @apply border-none p-0.5 shadow-none;
}

.outlined {
    @apply bg-white-light text-black border-black;
}

.disabled {
    background-color: #dedede;
    color: #7e7e7e;
    border-color: #7e7e7e;
}

.icon {
    @apply p-0.5;
}
