.container {
    @apply relative flex flex-wrap items-center justify-between gap-y-2;
}

.containerError {
    border: 1px !important;
    border-style: solid !important;
    border-color: #960018 !important;
}

.label {
    @apply ml-6 md:w-[20%];
}

.options {
    @apply flex flex-1 gap-2;
}

.options label {
    @apply min-w-fit flex-1;
}

.mobileRadio {
    @apply mr-2 min-w-fit flex-1;
}
