.container {
    @apply flex flex-wrap gap-y-2 lg:flex-row items-center justify-between lg:w-full z-20;
}

.label {
    @apply ml-6 md:w-[20%];
}

.options {
    @apply flex flex-1 gap-2;
}

.options label {
    @apply flex-1 min-w-fit;
}

.mobileRadio {
    @apply flex-1 mr-2 min-w-fit;
}
