.container {
    @apply z-20 flex flex-wrap items-center justify-between gap-y-2 rounded bg-white-light px-3 py-3 lg:w-full lg:flex-row;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.label {
    @apply ml-6 md:w-[20%];
}

.options {
    @apply flex flex-1 gap-2;
}

.options label {
    @apply min-w-fit flex-1;
}

.mobileRadio {
    @apply mr-2 min-w-fit flex-1;
}