.error {
  @apply font-400 text-2xs lg:text-xs text-error flex items-center gap-1  absolute right-0 -bottom-6 transform;
}
.field-error {
  @apply mb-2.5 lg:!mb-1;
  border: 1px !important;
  border-style: solid !important;
  border-color: #960018 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media only screen and (min-width: 952px) {
  *::-webkit-scrollbar {
    width: 10px !important;
  }
}
@media only screen and (min-width: 672px) and (max-width: 951px) {
  *::-webkit-scrollbar {
    width: 8px !important;
  }
}
@media only screen and (max-width: 671px) {
  *::-webkit-scrollbar {
    width: 6px !important;
  }
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c2c2c2;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.label-center {
  min-width: 100% !important;
  justify-content: center !important;
}
.label-right {
  min-width: 100% !important;
  justify-content: flex-start !important;
}
.label-left {
  min-width: 100% !important;
}
.rdw-option-wrapper {
  @apply bg-formItem !border-none;
}
.rdw-option-active {
  @apply !bg-formItem2;
}
.rdw-colorpicker-modal-options {
  overflow-x: hidden !important;
}
.rdw-link-modal,
.rdw-embedded-modal {
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}
.rdw-editor-main {
  height: -moz-fit-content !important;
  height: fit-content !important;
}
._right_1mkw2_1 {
  background: #000;
  background: linear-gradient(90deg, #0000, #696969);
}
._center_1mkw2_19 {
  background: radial-gradient(50% 50% at 50% 50%, #696969, #d9d9d900);
}
._left_1mkw2_35 {
  background: #000;
  background: linear-gradient(270deg, #0000, #696969);
}
._container_18ahe_3 {
  background-color: #02894c0d;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
._modal_18ahe_15 {
  animation: _popUp_18ahe_1 0.35s ease-out;
  direction: rtl;
}
@keyframes _popUp_18ahe_1 {
  0% {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
._selectable_aozvj_1 ._tbody_aozvj_1 ._tr_aozvj_1:hover ._td_aozvj_1 {
  cursor: pointer;
  border-color: #02894c;
}
._stripe_aozvj_11 ._tbody_aozvj_1 ._tr_aozvj_1:nth-child(2n) ._td_aozvj_1 {
  background-color: #f2f2f2;
}
._truncatedTextEn_ze61f_5 {
  font-family: sans-serif;
  font-weight: 700;
}
._required_ze61f_15 {
  line-height: 0px !important;
  color: #960018;
}
._enLabel_ze61f_25 {
  font-family: sans-serif;
  font-weight: 700;
}
._enLabel_ze61f_25 img {
  margin-left: 4px;
}
._label_ze61f_43 img {
  margin-right: 4px;
}
._label_ze61f_43 ._eduIcon_ze61f_51 {
  left: 0;
}
._enLabel_ze61f_25 ._eduIcon_ze61f_51 {
  right: 4px;
}
._main_13r6y_17 {
  box-shadow: 0 0 4px #00401a33;
  background: linear-gradient(180deg, #fffc, #fafefbcc);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
._container_1cy1r_7 {
  padding: 0rem 0 0.5rem;
}
._rightLine_1cy1r_17,
._leftLine_1cy1r_31 {
  background-color: #d1d5db;
}
@media (max-width: 640px) {
  ._container_1cy1r_7 {
    padding: 16px;
  }
  ._name_1cy1r_51 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
._container_r8tu5_1 {
  @apply relative inline-flex justify-between items-center gap-3 lg:gap-6 bg-background hover:bg-white rounded-[2px] lg:rounded px-[6px] py-1 border-[.5px] border-solid border-black cursor-pointer opacity-90 hover:opacity-100;
}
._enContainer_r8tu5_9 ._label_r8tu5_9 {
  @apply ml-0 mr-2;
  font-family: sans-serif !important;
  font-weight: 600;
}
._checkedContainer_r8tu5_21 {
  @apply border-success bg-white opacity-100 border-[.5px];
}
._disabledContainer_r8tu5_29 {
  @apply cursor-not-allowed;
}
._input_r8tu5_37 {
  @apply absolute left-0 top-0 w-full h-full cursor-pointer rounded-full;
  background-image: none !important;
  outline: none !important;
  visibility: hidden;
}
._input_r8tu5_37:checked {
  @apply !ring-success !bg-success !text-success;
  background-image: none !important;
}
._label_r8tu5_9 {
  @apply ml-2 select-none font-600 text-2xs text-black lg:text-[11px] xl:text-xs;
}
._firstLayer_r8tu5_69 {
  @apply w-[10px] h-[10px] lg:w-[12px] lg:h-[12px] flex items-center justify-center rounded-full;
  background-color: #f1f1f1;
  border: 0.25px solid rgb(134, 134, 134);
}
._firstLayerChecked_r8tu5_81 {
  @apply bg-success bg-opacity-50;
  box-shadow: 0 0 6px #02894c !important;
}
._secondLayer_r8tu5_91 {
  @apply flex items-center justify-center w-[14px] h-[14px] lg:w-[18px] lg:h-[18px] rounded-full bg-white;
  border: 0.25px solid rgb(171, 171, 171);
}
._dot_r8tu5_101 {
  @apply h-1 w-1 lg:w-1.5 lg:h-1.5 rounded-full;
  background-color: #cbfef2;
}
._dotChecked_r8tu5_111 {
  @apply bg-success;
}
._containerError_1kxjf_1 {
  border: 1px !important;
  border-style: solid !important;
  border-color: #960018 !important;
}
._options_1kxjf_13 label {
  min-width: 0;
  flex: 1;
}
._field_1tgzt_1:hover & {
  color: #02894c;
}
._field-error_1tgzt_9 ._field_1tgzt_1 {
  border-color: #960018;
}
._field-error_1tgzt_9 ._dateInput_1tgzt_17,
._field-error_1tgzt_9 ._icon_1tgzt_25 {
  color: #960018;
}
._container_8v92k_1 {
  @apply relative inline-flex justify-between items-center gap-3 lg:gap-6 rounded-[2px] bg-background lg:rounded px-1 lg:px-[6px] py-1 border-[.5px] border-solid border-black cursor-pointer opacity-90 hover:opacity-100 hover:bg-white overflow-hidden;
}
._enContainer_8v92k_9 ._label_8v92k_9 {
  @apply ml-0 mr-2;
  font-family: sans-serif !important;
  font-weight: 600;
}
._checkedContainer_8v92k_21 {
  @apply border-success bg-white opacity-100 border-[.5px];
}
._disabledContainer_8v92k_29 {
  @apply cursor-not-allowed;
}
._input_8v92k_37 {
  @apply absolute left-0 top-0 w-full h-full cursor-pointer;
  background-image: none !important;
  outline: none !important;
  visibility: hidden;
}
._input_8v92k_37:checked {
  @apply !bg-success !text-success;
}
._label_8v92k_9 {
  @apply ml-2 select-none font-600 text-2xs text-black lg:text-[11px] xl:text-xs;
}
._firstLayer_8v92k_67 {
  @apply w-[10px] h-[10px] lg:w-[12px] lg:h-[12px] flex items-center justify-center rounded-[2px];
  background-color: #f1f1f1;
  border: 0.25px solid rgb(134, 134, 134);
}
._firstLayerChecked_8v92k_79 {
  @apply bg-success bg-opacity-50;
  box-shadow: 0 0 6px #02894c !important;
}
._secondLayer_8v92k_89 {
  @apply flex items-center justify-center w-[14px] h-[14px] lg:w-[18px] lg:h-[18px] bg-white rounded-[2px];
  border: 0.25px solid rgb(171, 171, 171);
}
._dot_8v92k_99 {
  @apply h-1 w-1 lg:w-1.5 lg:h-1.5 rounded-[2px];
  background-color: #cbfef2;
}
._dotChecked_8v92k_109 {
  @apply bg-success;
}
._options_vais0_1 label {
  min-width: 0;
  flex: 1;
}
._fieldset_f9tlk_1 {
  border-style: solid;
  border-top-width: 0.5px;
  border-color: #0006;
  min-width: 0px;
  width: 100%;
  position: relative;
  border-radius: 6px;
}
._borderImageByTitle_f9tlk_21 {
  top: -5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #00000055 0%, transparent 100%);
  border-image: linear-gradient(to bottom, #00000055 0%, transparent 100%);
  -webkit-border-image-slice: 0.5;
  border-image-slice: 0.5;
}
._borderImage_f9tlk_21 {
  top: 2px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #00000055 0%, transparent 100%);
  border-image: linear-gradient(to bottom, #00000055 0%, transparent 100%);
  -webkit-border-image-slice: 0.5;
  border-image-slice: 0.5;
}
._border_f9tlk_21 {
  border: 0.5px solid black;
  border-radius: 6px;
  border-style: solid;
  border-color: #0006;
}
._enLegend_f9tlk_107 {
  margin-left: 32px !important;
  margin-right: auto !important;
}
._confirmBox_pqw0u_1 {
  animation: _popUp_pqw0u_1 0.35s 1;
}
@keyframes _popUp_pqw0u_1 {
  0% {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
._toolbar_1sn79_1 {
  @apply bg-formItem m-0 rounded-t-md border-none;
  * {
    @apply cursor-pointer;
    direction: ltr;
  }
}
._wrapper_1sn79_19 {
  box-shadow: none;
}
._editor_1sn79_27 {
  @apply h-fit min-h-32 border border-formItem2 !bg-white !m-0 !px-4 hover:bg-white rounded-b-md;
  * {
    direction: rtl;
  }
}
._list_9ff6d_1 {
  @apply flex p-1 flex-1 gap-1 overflow-x-auto items-center;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  background: linear-gradient(180deg, #d3feff, #a3fafd);
}
._tab_9ff6d_19 {
  @apply md:flex-1 !border-none rounded-sm min-w-[110px] md:min-w-[20vw] lg:min-w-[15vw] xl:!min-w-[12vw] text-[#727272] lg:shadow-formItem px-1 py-2 lg:!py-2.5 flex items-center gap-2 cursor-pointer !text-2xs lg:!text-xs font-600 w-full text-center xl:!text-[15px];
  box-shadow: 0 0 2px #00000040 inset;
}
._innertab_9ff6d_29 {
  @apply md:flex-1 !border-none rounded-sm min-w-[110px] md:min-w-[20vw] lg:min-w-[15vw] xl:!min-w-[12vw] text-black lg:shadow-formItem px-1 !py-1 lg:!py-2 flex items-center gap-2 cursor-pointer !text-2xs lg:!text-sm font-600 w-full text-center;
  background: linear-gradient(180deg, #cdcdcd, #eafdff);
  box-shadow: 0 0 2px #00000040 inset;
}
._innertab_9ff6d_29:hover {
  background: linear-gradient(180deg, #fff, #e0fcff);
  box-shadow: 0 0 2px #00000040 inset;
}
._tab-deactive_9ff6d_51 {
  background: linear-gradient(180deg, #fff, #e0fcff);
}
._tab-inactive_9ff6d_67 {
  @apply border-none !text-[#727272] transition-all !min-w-[45vw] md:!min-w-[20vw] lg:!max-w-screen-lg xl:!min-w-[12vw];
  background: linear-gradient(180deg, #fff, #e0fcff);
}
._tab-inactive_9ff6d_67:hover {
  background: linear-gradient(180deg, #fff, #c1ffe3);
  box-shadow: 0 0 2px #00000040 inset;
}
._tab-active_9ff6d_59 {
  @apply border-none !text-white transition-all !min-w-[45vw] md:!min-w-[20vw] lg:!max-w-screen-lg xl:!min-w-[12vw] !h-[27px] !bg-success;
}
._chosen-inner-tab_9ff6d_93 {
  @apply border-none !text-white transition-all !min-w-[28vw] md:!min-w-[20vw] lg:!min-w-[15vw] xl:!min-w-[12vw] !h-[27px] !bg-success;
}
._dropdown_9ff6d_101 {
  @apply border-none !text-[#727272] transition-all !min-w-[45vw] md:!min-w-[20vw] lg:!max-w-screen-lg xl:!min-w-[12vw];
}
._dropdown-gradient_9ff6d_109 {
  background: linear-gradient(180deg, #fff, #c1ffe3);
}
._dropdown-default_9ff6d_119 {
  background: linear-gradient(180deg, #fff, #e0fcff);
  box-shadow: 0 0 2px #00000040 inset;
}
._dropdown-default_9ff6d_119:hover {
  background: linear-gradient(180deg, #fff, #c1ffe3) !important;
}
._dropdown-default_9ff6d_119:hover {
  background: linear-gradient(180deg, #fff, #e0fcff);
  box-shadow: 0 0 2px #00000040 inset;
}
._arrow_9ff6d_151 {
  @apply w-5 md:w-8 px-0 justify-center items-center min-h-full !bg-[#C7F0FF] !border-none;
  background: linear-gradient(180deg, #fff, #e0fcff);
  box-shadow: 0 0 2px #00000040 inset;
}
._normalContainer_mxyav_1 {
  background: linear-gradient(0deg, #eefeff, #b2e5f8);
}
._vipContainer_mxyav_9 {
  background: linear-gradient(
    346deg,
    #ffa800 3.07%,
    #ffcd1a 6.85%,
    #ffb800 12.51%,
    #eb9b00 20.64%,
    #f3a200 29.5%,
    #fff78e 50.27%,
    #ffe2a9 74.82%,
    #ffa800 97.47%
  );
}
._fieldset_mxyav_39 {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #222, #222) border-box;
}
._fieldset_mxyav_39 legend {
  background-color: transparent;
  margin-right: 0;
}
._radio_mxyav_59 span,
._filterRadio_mxyav_69 span {
  margin-left: 1px !important;
  font-family: IranSans600, sans-serif !important;
}
._table_mxyav_79 tr:hover td {
  border-color: #02894c;
}
._table_mxyav_79 th {
  background-color: #f1f1f1 !important;
}
@media only screen and (min-width: 303px) and (max-width: 671px) {
  ._radio_mxyav_59 {
    gap: 1px !important;
  }
  ._radio_mxyav_59 span,
  ._filterRadio_mxyav_69 span {
    font-size: 8px !important;
  }
}
@media only screen and (min-width: 672px) and (max-width: 951px) {
  ._radio_mxyav_59 {
    gap: 1px !important;
  }
  ._radio_mxyav_59 span,
  ._filterRadio_mxyav_69 span {
    font-size: 8px !important;
  }
}
@media only screen and (min-width: 952px) {
  ._modal_mxyav_145 {
    width: clamp(950px, 96vw, 1280px);
  }
  ._radio_mxyav_59 span,
  ._filterRadio_mxyav_69 span {
    font-size: 10px !important;
  }
}
._SwitchContainer_1s68m_1 {
  width: 100%;
  display: flex;
  position: relative;
  background: #f7f7f7;
  align-items: center;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  border: 0.5px solid #000000;
}
._ToggleItem_1s68m_27 {
  height: 26px;
  flex: 1;
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  border: 1px solid transparent;
}
._Text_1s68m_51 {
  @apply font-600 text-[11px];
  color: #fff;
  pointer-events: none;
  transition: color 0.3s ease;
}
._ActiveBackground_1s68m_71 {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 50%;
  background: linear-gradient(180deg, #d3feff, #a3fafd);
  transition: transform 0.3s ease;
  z-index: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}
._filterRadio_dovfh_1 span {
  margin-left: 1px !important;
  font-family: IranSans600, sans-serif !important;
  font-size: 8px !important;
}
@media only screen and (min-width: 952px) {
  ._filterRadio_dovfh_1 span {
    font-size: 10px !important;
  }
}
._table_1l5wg_1 td {
  padding: 0 !important;
}
