.container {
    @apply justify-center overflow-x-auto;
}

.content {
    @apply md:flex-col xs:flex-col border w-full min-w-max overflow-scroll text-center;
    border-spacing: 30px;
    font-family: YekanBakh600;
    border-collapse: separate;
    border-spacing: 5px;
}

.head {
    @apply bg-[#858585] text-sm text-white;
}

.headContent {
    @apply rounded-md py-2;
    font-size: 10px;
}

.body {
}

.td {
    @apply bg-white;
    color: #000;
    font-family: YekanBakh700;
    font-size: 12px;
}

.td * {
    @apply m-auto;
}
