.container {
    @apply flex flex-col w-full;
    .table {
        @apply border-separate whitespace-nowrap overflow-x-auto border-spacing-[2px] w-full;
        .thead {
            .tr {
                @apply shadow-sm;
                .th {
                    @apply bg-white-lighter shadow-md font-600 text-tiny leading-6 lg:text-sm lg:leading-8 text-center rounded-md;
                }
            }
        }
        .tbody {
            .tr {
                .td {
                    @apply transition-all rounded-md shadow-md text-tiny leading-7 lg:text-sm font-400 lg:leading-8 bg-white group-hover:bg-white-light text-center px-2;
                }
            }
        }
    }
    .pagination {
        @apply w-full flex justify-between rounded-b-md pt-2 pb-1 bg-[#f1f1f1];
        .default-options {
            @apply flex !gap-1 px-1.5;
            .next {
                @apply text-tiny lg:text-xs border-none lg:!p-2 min-w-8 min-h-8 text-center rounded shadow-sm hover:scale-110 transition-all bg-white;
            }
            .current-page {
                @apply text-sm min-w-8 min-h-8 flex justify-center items-center rounded bg-white;
            }
        }
    }
}

.selectable {
    .tbody {
        .tr:hover {
            .td {
                @apply bg-white-light;
            }
        }
    }
}

.stripe {
    .tbody {
        .tr:nth-child(even) {
            .td {
                background-color: #f2f2f2;
            }
        }
    }
}
.selectContainer {
    @apply place-content-center rounded !border-0 bg-white px-2 shadow flex flex-row w-fit  text-xs items-center;
    .selectOptionInput {
        @apply pr-0 !w-[25px] mx-1 !border-0 !py-0 !font-400 !text-xs bg-transparent;
        background-position: left -1px center;
    }
}
