.container {
    @apply w-full flex items-center gap-1 sticky top-0 bg-white z-20;
}

.rightLine {
    @apply bg-green lg:w-10 h-[2px];
}

.name {
    @apply font-yekan700 text-sm text-black lg:text-lg;
}

.leftLine {
    @apply flex-1 h-[2px] bg-green;
}
