.container {
    @apply w-full flex items-center gap-1 -translate-y-[50%];
}

.rightLine {
    @apply bg-green lg:w-10 h-[2px];
}

.name {
    @apply text-black font-yekan700 text-sm lg:text-lg;
}

.leftLine {
    @apply flex-1 h-[2px] bg-green;
}
