/* done */
.container {
    @apply sticky top-0 w-full bg-white;
}

.rightLine {
    @apply h-0.5 w-2 bg-[#00401a];
}

.name {
    @apply z-20 bg-white font-700 text-xs text-black md:text-sm lg:text-lg;
}

.leftLine {
    @apply flex-1 h-0.5 bg-[#00401a];
}

.coverLine {
    @apply w-full h-0.5 bg-[#00401a] absolute shadow-none top-1/2 transform -translate-y-1/2;
}
