/* done */
.container {
    @apply sticky top-0 z-30 w-full;
}

.rightLine {
    @apply h-0.5 w-2;
}

.name {
    @apply z-20 bg-white font-700 text-xs text-black md:text-sm lg:text-lg;
}

.leftLine {
    @apply h-0.5 flex-1;
}

.coverLine {
    @apply absolute top-1/2 h-0.5 w-full -translate-y-1/2 transform shadow-none;
}
