.container {
    @apply flex flex-col md:flex-row md:flex-wrap w-full md:justify-between gap-y-6 px-4 overflow-hidden;
}

.booleanFormItem input {
    @apply max-h-[30px];
    border-radius: 4px;
}

.booleanFormItem .question {
    @apply text-center text-[8px] md:text-right lg:text-[11px] md:w-1/2;
}

.booleanFormItem {
    @apply flex flex-col gap-2 md:w-[49%] md:gap-0 py-[0.75rem] md:py-[0.75rem] px-[0.5rem] md:flex-row items-center justify-between;
    border-radius: 4px;
    background: #f7f7f7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.booleanFormItem .radios {
    @apply flex w-full justify-between md:w-fit md:gap-2 lg:gap-3;
}

.booleanFormItem .radios label {
    @apply w-[30%] md:w-[60px] lg:w-[80px] lg:min-h-[28px] flex justify-between;
}

.matchFormItem {
    @apply flex items-center flex-col lg:flex-row justify-between md:w-[49%] py-[0.75rem] md:py-[0.75rem] px-[0.5rem] lg:w-full;
    border-radius: 4px;
    background: #f7f7f7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.matchFormItem .radios {
    @apply w-full flex flex-wrap gap-[1%] justify-center lg:justify-between gap-y-1.5 lg:flex-nowrap lg:w-3/5 lg:gap-2;
}

.matchFormItem .radios label {
    @apply flex justify-between lg:min-h-[28px] w-[32%] lg:w-auto lg:flex-auto;
}

.matchFormItem .question {
    @apply lg:max-w-[35%] text-center text-[8px] lg:text-[11px] mx-auto lg:mx-0;
}

.newAnimation {
    animation: newAnimate 0.25s 1;
}

.oldAnimation {
    animation: oldAnimate 0.25s 1;
}

@keyframes newAnimate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes oldAnimate {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.next {
    @apply md:w-[200px] mt-8 md:mt-6 mx-auto;
}

@media only screen and (max-width: 767px) {
    .next {
        width: calc(100% - 2.5rem);
    }
}
