.container {
    @apply inline-flex justify-between items-center gap-3 lg:gap-6 rounded-sm bg-white-light lg:rounded px-[6px] py-0.5 lg:py-1 border-[0.25px] border-solid border-black cursor-pointer opacity-60 hover:bg-transparent hover:opacity-100;
}

.checkedContainer {
    @apply border-green bg-white opacity-100;
}

.disabledContainer {
    @apply cursor-not-allowed;
}

.input {
    @apply !w-1 lg:!w-1.5 !h-1 lg:!h-1.5 cursor-pointer rounded-full;
    background-color: rgb(153, 153, 153);
    background-image: none !important;
    background-color: rgb(142, 142, 142) !important;
    outline: none !important;
}

.input:focus {
    @apply !ring-0 !bg-green !text-green;
}

.input:checked {
    @apply !bg-green !text-green;
    background-image: none !important;
}

.label {
    @apply select-none font-yekan600 text-sm text-black md:text-md;
}

.firstLayer {
    @apply w-[10px] h-[10px] lg:w-[12px] lg:h-[12px] flex items-center justify-center rounded-full;
    background-color: #ddd;
    border: 0.25px solid rgb(134, 134, 134);
}

.firstLayerChecked {
    @apply bg-green bg-opacity-50;
    box-shadow: 0px 0px 6px rgba(2, 137, 76, 0.6) !important;
}

.secondLayer {
    @apply flex items-center justify-center w-[14px] h-[14px] lg:w-[18px] lg:h-[18px] rounded-full bg-white;
    border: 0.25px solid rgb(171, 171, 171);
}
