.container {
    @apply inline-flex justify-between items-center gap-3 lg:gap-6 rounded-sm bg-white-light lg:rounded px-1.5 py-0.5 lg:py-1 border-[0.25px] border-solid border-black cursor-pointer opacity-60 hover:bg-white hover:opacity-100;
}

.checkedContainer {
    @apply border-green bg-white opacity-100;
}

.disabledContainer {
    @apply cursor-not-allowed;
}

.input {
    @apply !w-1 lg:!w-1.5 !h-1 lg:!h-1.5 cursor-pointer rounded-full;
    background-color: rgb(153, 153, 153);
    background-image: none !important;
    background-color: rgb(142, 142, 142) !important;
    outline: none !important;
}

.input:checked {
    @apply !ring-green !bg-green !text-green;
    background-image: none !important;
}

.label {
    @apply text-black font-400 lg:font-600 text-2xs lg:text-[13px] select-none;
}

.firstLayer {
    @apply w-[10px] h-[10px] lg:w-[12px] lg:h-[12px] flex items-center justify-center rounded-full;
    background-color: #ddd;
    border: 0.25px solid rgb(134, 134, 134);
}

.firstLayerChecked {
    @apply bg-green bg-opacity-50;
    box-shadow: 0px 0px 6px #02894c !important;
}

.secondLayer {
    @apply flex items-center justify-center w-[14px] h-[14px] lg:w-[18px] lg:h-[18px] rounded-full bg-white;
    border: 0.25px solid rgb(171, 171, 171);
}
