/* .container {
  @apply my-4 mx-16
} */
.title {
    @apply mb-2 font-700 xs:hidden md:block md:text-md;
    color: #3d0c02;
}

.description {
    @apply  mr-2 text-right font-600 xs:text-sm md:text-md;
    line-height: 18.6px;
}

/* #F7F7F7 */
.mentalDisorder {
    background-color: #e4e4e4;
}

.message {
    position: relative;
    color: #000;
    font-family: YekanBakh400;
    font-size: 8px;

    width: 100%;
    border: 8px solid #f7f7f7;
    border-radius: 4px;
}
.message p {
    @apply flex items-center justify-center overflow-hidden rounded px-2 py-5 text-right font-400 leading-7 xs:text-xs md:text-sm lg:text-md;
    box-shadow: 0px 1px 2px 0px #00000026 inset;
    line-height: 1.5rem;
}
.messageWarning {
    @apply absolute mr-4 text-[#3D0C02] -top-4 font-600 lg:text-[15px];
}
.calBtn {
    @apply md:text-sm xs:text-xs bg-transparent border border-gray-400 text-gray-500 w-[38px] h-[20px] rounded;
}
.container {
    @apply flex w-full flex-col gap-y-6 overflow-x-hidden px-4 py-10 md:flex-row md:flex-wrap md:justify-between;
}
.questionPart {
    @apply flex w-full flex-col gap-y-6 overflow-x-hidden bg-zinc-200 px-1 py-1 md:flex-row md:flex-wrap md:justify-between;
}
.listOfQuestions {
    @apply flex w-full flex-wrap gap-y-8 rounded px-1 py-1 md:justify-between;
}
.question {
    @apply font-700 md:leading-4 xs:leading-3 md:text-[10px] xs:text-xs flex-1;
}
.radios {
    @apply flex w-full flex-wrap justify-between md:gap-y-1.5 lg:gap-2;
}
.radios label {
    @apply flex justify-between lg:min-h-[28px] w-[32%] lg:w-full;
}
