/* .progressVisualFull {
    display: flex;

    height: 16px;
    margin: 20px 0;
  }
  
  .progressVisualPart {

    transition: width 2s;
  }
  
  .progressLabel {

    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    margin: 20px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
  }
  */

.customMultiProgress {
  @apply md:h-7  h-4;
  border-radius: 4px !important;
  padding: 10px;
  background-color: transparent;
  
}
.customMultiProgress :only-child{
  border-radius:unset;
}
