.content {
  @apply w-full flex flex-col font-semibold;
}

.content .label {
  @apply inline-flex text-xs leading-5 text-gray-darkest mt-3;
}

.content .innerDivider {
  @apply w-full flex gap-1;
}

.content .innerDivider .pos {
  @apply relative w-full;
}

.content .innerDivider .pos .field {
  @apply w-full text-sm rounded-lg border-2 bg-white border-gray-light hover:border-ownGray-300 focus:ring-1 focus:ring-gray-light;
}

.content .innerDivider .pos .fieldError {
  @apply border-red;
}

.content .innerDivider .pos .span {
  @apply absolute text-sm left-0 top-1/2 translate-x-1/2 -translate-y-1/2;
}

.content .innerDivider .button {
  @apply p-2 bg-gray-lighter rounded-md hover:bg-gray-light;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  max-width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button::before,
input[type="number"]::-webkit-outer-spin-button::before {
  position: absolute;
}