.content {
  @apply flex w-full flex-col font-semibold;
}

.content .label {
  @apply mt-3 inline-flex text-sm leading-5 text-gray-darkest;
}

.content .innerDivider {
  @apply flex w-full gap-1;
}

.content .innerDivider .pos {
  @apply relative w-full;
}

.content .innerDivider .pos .field {
  @apply hover:border-ownGray-300 w-full rounded-lg border-2 border-gray-light bg-white text-sm focus:ring-1 focus:ring-gray-light;
}

.content .innerDivider .pos .fieldError {
  @apply border-red;
}

.content .innerDivider .pos .span {
  @apply absolute left-0 top-1/2 -translate-y-1/2 translate-x-1/2 text-sm;
}

.content .innerDivider .button {
  @apply rounded-md bg-gray-lighter p-2 hover:bg-gray-light;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  max-width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button::before,
input[type="number"]::-webkit-outer-spin-button::before {
  position: absolute;
}