// done
.fieldset {
    @apply rounded-lg px-1 sm:px-4 py-4 lg:px-8 lg:py-6;
    border: 0.5px solid transparent;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(180deg, #727272, white) border-box;
}

.legend {
    @apply text-xs px-0.5 lg:mr-8 lg:text-base py-0 -top-0.5 relative font-700 leading-5 text-[#3D0C02] bg-white;
}
