.container {
    @apply flex lg:w-[1440px] flex-col gap-y-4 overflow-x-hidden pt-2 pb-4 md:flex-row md:flex-wrap md:justify-between m-auto; 
}
.form {
    @apply overflow-y-auto px-1 md:px-4 md:pt-2 !pb-[10vh];
}
.submit {
    @apply w-full md:w-auto md:px-16 xs:w-1/2 mt-6 mx-auto bg-white !min-h-10 border-green text-black lg:hover:bg-green lg:hover:border-green lg:hover:text-white;
}
.booleanFormItem input {
    @apply max-h-[30px];
    border-radius: 4px;
}

.booleanFormItem .question {
    @apply text-center text-[8px] md:text-right lg:text-[11px] md:w-1/2;
}
.description {
    @apply text-right font-600 text-2xs leading-4 md:text-2xs md:leading-5 lg:text-sm lg:leading-7;
   
  }


.booleanFormItem {
    @apply flex flex-col gap-2 md:w-[49%] md:gap-0 py-[0.75rem] md:py-[0.75rem] px-[0.5rem] md:flex-row items-center justify-between;
    border-radius: 4px;
    background: #f7f7f7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.booleanFormItem .radios {
    @apply flex w-full justify-between md:w-fit md:gap-2 lg:gap-3;
}

.booleanFormItem .radios label {
    @apply w-[30%] md:w-[60px] lg:w-[80px] lg:min-h-[28px] flex justify-between;
}

.gridcontainer {
    @apply grid w-full grid-cols-1 gap-6  px-[2px] py-[2px] md:grid-cols-2;
}

.newAnimation {
    animation: newAnimate 0.25s 1;
}

.oldAnimation {
    animation: oldAnimate 0.25s 1;
}

@keyframes newAnimate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes oldAnimate {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.next {
    @apply md:w-[200px] mt-8 md:mt-6 mx-auto;
}

@media only screen and (max-width: 767px) {
    .next {
        width: calc(100% - 2.5rem);
    }
}

.submit {
    @apply w-[150px] text-2xs md:text-base  md:px-16 md:w-[200px] mt-3 md:mt-6 mx-auto bg-white !min-h-7 md:!min-h-10 border-green text-black lg:hover:bg-green lg:hover:border-green lg:hover:text-white;
}
