/* .container {
  @apply my-4 mx-16
} */
.title {
    color: #3d0c02;
  }
  .description {
    font-size: 12px;
    font-weight: 400;
    line-height: 18.6px;
    text-align: right;
  }
  /* #F7F7F7 */
  .mentalDisorder {
    background-color: #e4e4e4;
  }
  
  .message {
    
    color: #000;
    font-family: YekanBakh400;
    font-size: 8px;
    line-height: 12px;
    background-color: #e4e4e4;
    width: 100%;
    border:8px solid #F7F7F7;
    border-radius: 4px;
  }
  .message p {
    margin: 13px 96px;
    padding: 9px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: 12px;
    font-weight: 400;
    line-height: 18.6px;
    text-align: right;
  
    /* box-shadow: 0px 1px 2px 0px #00000026 inset; */
  }
  
  .container {
    @apply flex  flex-col md:flex-row md:flex-wrap w-full md:justify-between py-10 gap-y-6 px-4 overflow-x-hidden;
  }
  .questionPart {
    @apply flex  flex-col md:flex-row md:flex-wrap w-full md:justify-between py-1 gap-y-6 px-1 overflow-x-hidden bg-zinc-200;
  }
  .listOfQuestions {
    @apply flex    flex-wrap w-full md:justify-between py-1 gap-y-6 px-1  border rounded;
  }
  
  .matchFormItem {
    @apply flex items-center flex-col lg:flex-row justify-between md:w-[49%] py-[0.75rem] md:py-[0.75rem] px-[0.5rem] lg:w-full;
    border-radius: 4px;
    background: #f7f7f7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }

  .matchFormItem .radios {
    @apply w-full flex flex-wrap justify-between md:gap-y-1.5   lg:gap-2;
  }
  
  .matchFormItem .radios label {
    @apply flex justify-between lg:min-h-[28px] w-[32%] lg:w-full ;
  }
  
  .matchFormItem .question {
    @apply w-full text-center lg:text-right text-[8px] lg:text-[11px] mx-auto lg:mx-0;
  }
  
  .newAnimation {
    animation: newAnimate 0.25s 1;
  }
  
  .oldAnimation {
    animation: oldAnimate 0.25s 1;
  }
  
  @keyframes newAnimate {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes oldAnimate {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .next {
    @apply md:w-[200px] mt-8 md:mt-6 mx-auto;
  }
  
  @media only screen and (max-width: 767px) {
    .next {
      width: calc(100% - 2.5rem);
    }
  }
  