/* .container {
  @apply my-4 mx-16
} */
.title {
    @apply mb-2 font-yekan700 xs:hidden md:block md:text-md;
    color: #3d0c02;
}

.description {
    @apply font-yekan600 xs:text-[9px] md:text-[14px] text-right mr-2 mt-2;
    line-height: 18.6px;
}

/* #F7F7F7 */
.mentalDisorder {
    background-color: #e4e4e4;
}
.calBtn {
    @apply md:text-sm xs:text-xs bg-transparent border border-gray-400 text-gray-500 w-[38px] h-[20px] rounded;
}
.message {
    color: #000;
    font-family: YekanBakh400;

    line-height: 12px;
    background-color: #e4e4e4;
    width: 100%;
    border: 8px solid #f7f7f7;
    border-radius: 4px;
}
.message p {
    @apply flex items-center justify-center overflow-hidden rounded px-2 py-5 text-right xs:text-xs md:text-md lg:text-[15px] font-yekan400 leading-7;
    box-shadow: 0px 1px 2px 0px #00000026 inset;
}

.container {
    @apply flex w-full flex-col gap-y-6 overflow-x-hidden px-4 py-10 md:flex-row md:flex-wrap md:justify-between;
}
.questionPart {
    @apply flex w-full flex-col gap-y-6 overflow-x-hidden bg-zinc-200 px-1 py-1 md:flex-row md:flex-wrap md:justify-between;
}
.listOfQuestions {
    @apply grid w-full grid-cols-1 gap-y-6 rounded border px-1 py-1 md:grid-cols-2 md:justify-between;
}
.twoPartQuestion {
    @apply flex justify-between w-full md:gap-16 xs:gap-4 bg-[#e4e4e4] p-[2px] xs:flex-col md:flex-row;
}
.onePartQuestion {
    @apply md:grid md:grid-cols-2 md:gap-16 md:w-full bg-[#e4e4e4] p-[2px];
}
.question {
    @apply pl-5 font-yekan700 leading-4 xs:text-xs md:text-sm;
}
.booleanFormItem {
    @apply flex items-center justify-between rounded bg-white-light py-2 pl-4 pr-2 xs:w-full;
}

.booleanFormItem .radios {
    @apply flex xs:gap-2 lg:gap-10;
}
.gridcontainer {
    @apply grid w-full grid-cols-1 gap-6 bg-gray-e4 px-[2px] py-[2px] md:grid-cols-2;
}
