
.description {
    @apply text-right font-600 text-2xs leading-4 md:text-2xs md:leading-5 lg:text-sm lg:leading-7;
   
  }


/* #F7F7F7 */
.mentalDisorder {
    background-color: #e4e4e4;
}
.calBtn {
    @apply md:text-sm xs:text-xs bg-transparent border border-gray-400 text-gray-500 w-[38px] h-[20px] rounded;
}
.message {
    @apply relative w-full rounded border-4 border-white-light text-black; 
}
.message p {
    @apply flex items-center justify-center overflow-hidden rounded px-2 py-2 text-right font-400 text-3xs leading-3 md:py-5 md:text-sm md:leading-7 lg:text-base;
    box-shadow: 0px 1px 2px 0px #00000026 inset;
  
}
.message p {
    @apply flex items-center justify-center overflow-hidden rounded px-2 py-5 text-right font-400 leading-7 xs:text-xs md:text-sm lg:text-base;
    box-shadow: 0px 1px 2px 0px #00000026 inset;
    line-height: 1.5rem;
}

.container {
    @apply flex w-full flex-col gap-y-6 overflow-x-hidden px-4 py-10 md:flex-row md:flex-wrap md:justify-between;
}
.listOfQuestions {
    @apply grid w-full grid-cols-1 gap-y-8 rounded md:grid-cols-2 md:justify-between;
}

.booleanFormItem .radios {
    @apply flex xs:gap-2 lg:gap-10;
}
.gridcontainer {
    @apply col-span-full grid w-full grid-cols-1 gap-6 rounded bg-gray-e7 p-1 md:grid-cols-2;
}
