.container {
  @apply w-full flex flex-col p-1.5 md:pb-4 gap-6 rounded-t-[4px];
  background-color: #e5e5e5;
  /* filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1)); */
}

.cancersSelectionBox {
  border-radius: 4px;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
}

.subContainer {
  @apply w-full flex flex-col px-2 pb-2 md:px-4 gap-4 md:pb-1;
}

.dateInputClassName{
  @apply !flex flex-row gap-6 items-center;
}

.dateInput{
  @apply !w-auto flex-1;
}
