.container {
  @apply z-50 fixed top-0 left-0 w-screen h-screen flex justify-center items-center;
  background-color: rgba(2, 137, 76, 0.05);
  backdrop-filter: blur(5px);
}

.modal {
  @apply bg-white shadow-lg p-1 rounded-md w-full max-w-md max-h-[80vh] overflow-y-auto overflow-x-hidden  flex flex-col lg:max-w-[90%];
  animation: popUp 0.35s 1;
  direction: rtl;
}

.closeButton {
  width: fit-content;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 25px;

}

@keyframes popUp {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}