.container {
    @apply fixed left-0 top-0 z-50 flex h-screen w-screen items-center justify-center;
    background-color: rgba(2, 137, 76, 0.05);
    backdrop-filter: blur(5px);
}

.modal {
    @apply bg-white shadow-lg p-1 rounded-md max-w-[80vw] max-h-[90vh] overflow-y-auto  md:flex flex-col lg:max-w-[90%];
    animation: popUp 0.35s 1;
    direction: rtl;
}

.closeButton {
    width: fit-content;
    padding: 0.25rem;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 25px;
}

@keyframes popUp {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}
