.container {
    @apply flex flex-col w-full md:gap-4 md:px-2 lg:px-8 lg:pb-2 overflow-hidden;
}

.title {
    @apply mt-7 mb-2 md:mb-0 md:mt-3 lg:my-0;
    color: #3d0c02;
    text-align: right;
    font-family: YekanBakh700;
    font-size: 12px;
}

.sections {
    @apply flex flex-col p-1 md:mx-auto md:w-full md:gap-5 lg:gap-0;
    background-color: #e5e5e5;
    border-radius: 4px;
    transition: all 0.35s;
}

.table{
    @apply lg:min-w-[1000px] mx-auto;
}

@media only screen and (min-width: 1024px) {
    .sections{
        width: calc(100% - 2rem);
    }
}