.list {
  @apply flex p-1 flex-1 gap-1 overflow-x-auto;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  background: linear-gradient(180deg, #d3feff 0%, #a3fafd 100%);
}

.tab {
  @apply md:flex-1 !border-none rounded-sm min-w-[110px] md:min-w-[120px] lg:min-w-[174px] text-[#727272] lg:shadow-formItem px-1 py-2 lg:!py-2.5 flex items-center gap-2 cursor-pointer !text-2xs lg:!text-xs font-600 w-full text-center xl:!text-[15px];
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.tab-deactive {
  background: linear-gradient(180deg, #fff 0%, #e0fcff 100%);
}

.tab-active {
  @apply border-none !bg-success !text-white transition-all;
}

.arrow {
  @apply w-5 md:w-8 px-0 justify-center items-center min-h-full !bg-[#C7F0FF] !border-none;
  background: linear-gradient(180deg, #fff 0%, #e0fcff 100%);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25) inset;
}
