.newAnimation {
    animation: newAnimate 0.25s 1;
}

.oldAnimation {
    animation: oldAnimate 0.25s 1;
}

@keyframes newAnimate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes oldAnimate {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.description {
    @apply px-2 text-justify font-400 text-2xs leading-4 md:font-600 md:text-xs md:leading-5 lg:text-sm lg:leading-7;
}
