.container {
    @apply inline-flex justify-between items-center gap-3 lg:gap-6 rounded-sm bg-white-light lg:rounded px-1.5 py-0.5 lg:py-1 border-[0.25px] border-solid border-black cursor-pointer opacity-60 hover:bg-white hover:opacity-100;
}

.checkedContainer {
    border-color: #02894c;
    background: #fff !important;
    opacity: 1;
}

.disabledContainer {
    opacity: 0.5;
    cursor: not-allowed;
}

.input {
    @apply !w-1 lg:!w-1.5 !h-1 lg:!h-1.5 cursor-pointer rounded-xl;
    background-color: rgb(153, 153, 153);
    background-image: none !important;
    background-color: rgb(142, 142, 142) !important;
    outline: none !important;
}

.input:checked {
    background-color: rgba(2, 137, 76, 1) !important;
    color: rgba(2, 137, 76, 1) !important;
    background-image: none !important;
}

.input {
    @apply focus:!ring-green;
    background-color: rgb(142, 142, 142) !important;
    background-image: none !important;
    outline: none !important;
}

.label {
    @apply text-black font-400 lg:font-600 text-2xs lg:text-[13px] select-none;
}

.firstLayer {
    @apply w-[10px] h-[10px] lg:w-[14px] lg:h-[14px] flex items-center justify-center rounded overflow-hidden;
    background-color: #ddd;
    border: 0.25px solid rgb(134, 134, 134);
}

.firstLayerChecked {
    @apply bg-green bg-opacity-50;
    box-shadow: 0px 0px 6px #02894c !important;
}

.secondLayer {
    @apply flex items-center justify-center w-[14px] h-[14px] lg:w-[20px] lg:h-[20px] rounded bg-white;
    border: 0.25px solid rgb(171, 171, 171);
}
