.container {
  @apply md:h-[30px] xs:h-6;
  border: 0.5px solid black;
  border-radius: 4px;
  background-color: #f7f7f7;
  opacity: 0.6;
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  cursor: pointer;
  align-items: center;
  max-height: 30px;
  flex: 1 1 0;
  min-width: fit-content;
  width: 100%;
}

.checkedContainer {
  border-color: #02894c;
  background: #fff !important;
  opacity: 1;
}

.disabledContainer {
  opacity: 0.5;
  cursor: not-allowed;
}

.input {
  @apply md:!w-2 md:!h-2 xs:!w-1 xs:!h-1;
  cursor: pointer;
  /* width: 8px !important;
  height: 8px !important; */
  background-color: rgb(153, 153, 153);
  border-radius: 2px !important;
}

.input:checked {
  background-color: rgba(2, 137, 76, 1) !important;
  color: rgba(2, 137, 76, 1) !important;
  background-image: none !important;
}

.input {
  background-color: rgb(142, 142, 142) !important;
  background-image: none !important;
  outline: none !important;
}

.label {
 @apply md:text-sm xs:text-xs font-yekan600; 
}

.firstLayer {
  @apply flex items-center justify-center md:w-4 md:h-4 xs:w-3 xs:h-3 ;
  /* width: 15px;
  height: 15px; */
  border-radius: 4px;
  background-color: #ddd;
  border: 1px solid rgb(134, 134, 134);
}

.firstLayerChecked {
  background-color: rgba(2, 137, 76, 0.5);
}

.secondLayer {
  @apply flex items-center justify-center md:w-[21px] md:h-[21px] xs:w-[18px] xs:h-[18px];
  /* width: 21px;
  height: 21px; */
  border-radius: 4px;
  border: 1px solid rgb(171, 171, 171);
  background-color: white;
  box-shadow: 0px 0px 5px rgba(2, 137, 76, 0.2) !important;
}
