.label {
    @apply flex items-center font-700 text-tiny leading-4 text-black md:leading-5 lg:text-sm lg:leading-6;
    .required {
        @apply text-red lg:text-lg mr-[4px];
    }
    .guideIcon {
        @apply w-[9px] h-[9px] lg:h-[16px] lg:w-[16px] lg:p-[1px];
    }
}

.labelError {
    /* color: red !important; */
}
