.form {
  @apply flex h-full flex-col lg:mx-auto lg:w-full lg:px-[1%];
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(250, 254, 251, 0.6) 100%
  );
}

.titleSection{
  @apply mb-1 font-700 text-md;
}
.title {
  @apply mb-2 font-700 xs:hidden md:block md:text-lg;
  color: #3d0c02;
}
.description {
  @apply text-right font-600 text-tiny leading-5 md:text-sm md:leading-7 lg:text-md;
 
}
.message {
  color: #000;
  font-family: YekanBakh400;
  font-size: 8px;
  line-height: 12px;
  background-color: #e4e4e4;
  width: 100%;
  border: 5px solid #f7f7f7;
}
.message p {
  @apply xs:text-xs md:text-sm;
  margin: 13px 96px;
  padding: 9px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  font-size: 12px;
  font-weight: 400;
  line-height: 18.6px;
  text-align: right;

  
}

.container {
  @apply grid w-full gap-y-6 overflow-x-hidden md:justify-between;
}

.submit {
  @apply w-full text-md  md:w-auto md:px-16 xs:w-[200px] mt-6 mx-auto bg-white !min-h-10 border-green text-black lg:hover:bg-green lg:hover:border-green lg:hover:text-white;
}


.chekboxPart{ 
  @apply col-span-full rounded flex items-center py-3 px-2 justify-between flex-wrap gap-2 bg-white-light 
  /* @apply flex items-center py-3 px-2 rounded flex-wrap flex-row justify-between  lg:w-full bg-zinc-50 gap-2 shadow-md */
}

.gridContainer {
  @apply grid w-full grid-cols-1 gap-6 md:grid-cols-2;
}