/* .container {
  @apply my-4 mx-16
} */
.titleSection{
  /* @apply ; */
}
.title {
  @apply md:text-md font-yekan700 xs:hidden md:block mb-2;
  color: #3d0c02;
}
.description {
  @apply md:text-md font-yekan400 xs:text-[9px];
  line-height: 18.6px;
  text-align: right;
}
/* #F7F7F7 */
.mentalDisorder {
  background-color: #e4e4e4;
}

.message {
  color: #000;
  font-family: YekanBakh400;
  font-size: 8px;
  line-height: 12px;
  background-color: #e4e4e4;
  width: 100%;
  border: 5px solid ##f7f7f7;
}
.message p {
  @apply md:text-sm xs:text-xs;
  margin: 13px 96px;
  padding: 9px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  font-size: 12px;
  font-weight: 400;
  line-height: 18.6px;
  text-align: right;

  /* box-shadow: 0px 1px 2px 0px #00000026 inset; */
}

.container {
  @apply flex  flex-col md:flex-row md:flex-wrap w-full md:justify-between  gap-y-6 px-4 overflow-x-hidden;
}
.form{
  @apply  overflow-y-auto md:py-4 xs:py-2 md:px-12 xs:px-4;
}
.submit {
  @apply w-full md:w-auto md:px-16 xs:w-1/2 mt-6 mx-auto bg-white !min-h-10 border-green text-black lg:hover:bg-green lg:hover:border-green lg:hover:text-white;
}

.questionPart {
  @apply flex  flex-col md:flex-row md:flex-wrap w-full md:justify-between py-1 gap-y-6 px-1  bg-[#e4e4e4];
}
.listOfQuestions {
  @apply flex    flex-wrap w-full md:justify-between py-1 gap-y-6 px-1  border rounded;
}
.twoPartQuestion{
  @apply flex justify-between w-full md:gap-16 xs:gap-4 bg-[#e4e4e4] p-[2px] xs:flex-col md:flex-row;
}
.onePartQuestion{
  @apply md:grid md:grid-cols-2 md:gap-16 md:w-full bg-[#e4e4e4] p-[2px];
}
.chekboxPart{
  @apply flex items-center py-3 px-2 justify-between flex-wrap gap-2 bg-white-light 
  /* @apply flex items-center py-3 px-2 rounded flex-wrap flex-row justify-between  lg:w-full bg-zinc-50 gap-2 shadow-md */
}
.question{
  @apply font-yekan700 leading-4 md:text-sm xs:text-xs pl-5;

}
.booleanFormItemTwo {
  @apply flex justify-between items-center bg-white-light py-2 pr-2 pl-4 md:w-1/2 xs:w-full rounded ;
}
.booleanFormItem {
  @apply flex justify-between items-center bg-white-light py-2 pr-2 pl-4  xs:w-full rounded ;
}
.booleanFormItem .radios {
  @apply flex lg:gap-10 xs:gap-2;
}
.booleanFormItemTwo .radios {
  @apply flex lg:gap-10 xs:gap-2;
}
/* .booleanFormItem input {
  @apply max-h-[30px];
  border-radius: 4px;
} */
/*
.booleanFormItem .question {
  @apply  font-yekan700 leading-4 text-[10px];
} */
/* 


.booleanFormItem .radios label {
  @apply w-[30%] md:w-[60px] lg:w-[80px] lg:min-h-[28px] flex justify-between;
}

.matchFormItem {
  @apply flex items-center flex-col lg:flex-row justify-between md:w-[49%] py-[0.75rem] md:py-[0.75rem] px-[0.5rem] lg:w-full;
  border-radius: 4px;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.matchFormItem .radios {
  @apply w-full flex flex-wrap gap-[1%] justify-center lg:justify-between gap-y-1.5 lg:flex-nowrap lg:w-3/5 lg:gap-2;
}

.matchFormItem .radios label {
  @apply flex justify-between lg:min-h-[28px] w-[32%] lg:w-auto lg:flex-auto;
}

.matchFormItem .question {
  @apply lg:max-w-[35%] text-center lg:text-right text-[8px] lg:text-[11px] mx-auto lg:mx-0;
}

.newAnimation {
  animation: newAnimate 0.25s 1;
}

.oldAnimation {
  animation: oldAnimate 0.25s 1;
}

@keyframes newAnimate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes oldAnimate {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.next {
  @apply md:w-[200px] mt-8 md:mt-6 mx-auto;
}

@media only screen and (max-width: 767px) {
  .next {
    width: calc(100% - 2.5rem);
  }
} */
