.container {
    @apply flex justify-between md:flex-wrap flex-col gap-4 md:gap-0 md:flex-row w-full px-2 py-2 md:gap-y-4;
    background: #e5e5e5;
}

.dependForm {
    @apply flex flex-col gap-4 md:gap-0 md:flex-row items-center justify-between p-1 md:w-full overflow-hidden;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255, 0.3);
}

.hosField {
    @apply !mb-0 md:w-[49%];
}

.showTextField {
    @apply visible md:w-[49%] flex items-center;
}

.hiddenTextField {
    visibility: hidden;
}

.formItem {
    @apply flex flex-col py-[0.75rem] md:py-[0.25rem] px-[0.5rem] md:flex-row items-center justify-between w-full md:w-[49%];
    border-radius: 4px;
    background: #f7f7f7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.error {
}

.label {
    color: #000;
    font-family: YekanBakh700;
    font-size: 12px;
}

.required {
    color: #960018;
    position: relative;
    bottom: 5px;
}

.radios {
    @apply w-full flex justify-between md:w-fit md:gap-2 lg:gap-3;
}

.textFieldContainer {
    @apply flex flex-row bg-transparent md:bg-[#F7F7F7] md:w-[49%] items-center md:gap-[10%] lg:pr-2;
    border-radius: 4px;
    animation: flipLeft 0.25s 1;
    z-index: 1;
}

.textFieldContainer input{
    @apply bg-white md:bg-transparent;
}

@keyframes flipLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
