.main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 4vh auto;
  gap: 1rem;

}

.element{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.elementName{
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.elementTypes{
  width: 100%;
  gap: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.elementType{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.elementType h3{
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
}