.page {
    @apply flex flex-col w-full min-h-screen relative bg-white ;
    background: url(../../../assets/images/net.svg) no-repeat bottom;
}

.main {
    @apply flex flex-col justify-start w-full backdrop-blur-default shadow-mainBox bg-mainBox max-w-[91%] md:max-w-[820px] lg:max-w-[1134px] m-auto h-[90vh] pb-4;
}
