.page {
    @apply flex flex-col w-full min-h-screen relative bg-[#FAFFFF];
    background: url(../../../assets/images/net.svg) no-repeat bottom;
}

.main {
    @apply flex flex-col justify-start w-full shadow-primary max-w-[91%] md:max-w-[91%] lg:max-w-[1134px] m-auto h-[90vh] pb-4;
    backdrop-filter: blur(3px);
    background-color: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(250, 254, 251, 0.6) 100%
    );
}
