.page {
    @apply flex flex-col w-full h-screen relative bg-[#FAFFFF];
    background: url(../../../assets/images/net.svg) no-repeat bottom;
}

.main {
    @apply flex flex-col justify-start w-full h-full shadow-primary max-w-full md:max-w-full px-4 overflow-hidden;
    backdrop-filter: blur(3px);
    background-color: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(250, 254, 251, 0.6) 100%
    );
}
