.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field {
  flex: 1;
  border: 0.5px solid #444444aa;
  padding: 7px 6px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 15px;
  font-family: YekanBakh700;
  background-color: transparent;
}

.field::placeholder {
  color: rgba(102, 102, 102, 1);
  font-size: 10px;
  line-height: 15px;
}

.field:disabled {
  cursor: not-allowed;
}

.disabled {
  background-color: #dedede;
  color: #7e7e7e;
  border-color: #7e7e7e;
}

.fieldError {
  border-color: red;
  color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  max-width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button::before,
input[type="number"]::-webkit-outer-spin-button::before {
  position: absolute;
}
