.container {
    @apply flex justify-between flex-col gap-0.5 relative;
    .field {
        @apply bg-white-light relative border-[0.5px] overflow-hidden border-solid rounded;
        &:hover {
            @apply bg-white text-black;
        }
        .input {
            @apply w-full pl-8 pr-2 lg:py-1 text-2xs lg:text-sm border-none bg-white-light  text-black p-0 placeholder:text-tiny lg:placeholder:text-xs;
            &:focus,
            &:hover {
                @apply outline-0 bg-white border-black text-black ring-0;
            }
        }
        .icon {
            @apply absolute h-[13px] w-[13px] lg:h-[19px] lg:w-[19px] left-0 top-1/2 translate-x-1/2 -translate-y-1/2 lg:-translate-y-1/2;
        }
    }
}
