.container {
    @apply w-full flex justify-between flex-col gap-0.5;
}

.field {
    @apply w-full relative;
}

.input {
    @apply w-full lg:py-[5px] bg-transparent lg:text-sm lg:px-2 border-[0.5px] border-solid border-black rounded text-input;
}

.input:focus,
.input:hover {
    @apply outline-0 bg-white border-black text-black ring-0;
}

.fieldError {
}

.icon {
    @apply absolute h-[14px] w-[14px] lg:h-[19px] lg:w-[19px] left-0 top-1/2 translate-x-1/2 -translate-y-1/2;
}
