@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");
@import url("./foundation/_base.scss");

@layer base {
    * {
        font-family: "IranSans400";
    }
}

@font-face {
    font-family: IranSans300;
    font-weight: 300;
    src: url("./assets/fonts/IRANSansX-UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: IranSans400;
    font-weight: 400;
    src: url("./assets/fonts/IRANSansX-Regular.ttf") format("truetype");
}

@font-face {
    font-family: IranSans600;
    font-weight: 600;
    src: url("./assets/fonts/IRANSansX-DemiBold.ttf") format("truetype");
}

@font-face {
    font-family: IranSans700;
    font-weight: 700;
    src: url("./assets/fonts/IRANSansX-DemiBold.ttf") format("truetype");
}

/* high chart */
.highcharts-credits {
    display: none;
}

.highcharts-legend-item {
    display: none;
}
