@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        font-family: "YekanBakh400";
    }
    * {
        font-family: "YekanBakh400";
    }
    *:checked {
        outline: none !important;
    }
}

.body {
    @apply flex flex-col md:px-[5%];
    background: url(./assets/images/net.svg) no-repeat;
    background-position: bottom;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

@font-face {
    font-family: YekanBakh300;
    font-weight: 300;
    src: url("./assets/fonts/YekanBakh-Light.ttf") format("truetype");
}

@font-face {
    font-family: YekanBakh400;
    font-weight: 400;
    src: url("./assets/fonts/YekanBakh-Regular.ttf") format("truetype");
}

@font-face {
    font-family: YekanBakh600;
    font-weight: 600;
    src: url("./assets/fonts/YekanBakh-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: YekanBakh700;
    font-weight: 700;
    src: url("./assets/fonts/YekanBakh-Bold.ttf") format("truetype");
}

@font-face {
    font-family: YekanBakh800;
    font-weight: 800;
    src: url("./assets/fonts/YekanBakh-Black.ttf") format("truetype");
}

@font-face {
    font-family: YekanBakh900;
    font-weight: 900;
    src: url("./assets/fonts/YekanBakh-ExtraBlack.ttf") format("truetype");
}

@layer base {
    html {
        font-family: "YekanBakh400";
    }
}

input[type="checkbox"]:focus {
    @apply !outline-none;
}

textarea:focus,
input:focus {
    outline: none;
}
/* count down start */
.fcc {
    flex-direction: row-reverse;
}

.fcc__separator {
    margin: 0 !important;
}

.fcc__unit_time {
    flex-direction: row-reverse;
    margin: 0 !important;
    gap: 0 !important;
}
/* count down end */

.router-page {
    @apply grid grid-cols-3 gap-y-8 px-[1%] md:px-[3%] md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 w-full overflow-hidden;
    padding-top: 3rem;
}

.message {
    @apply text-[9px] md:text-[14px] px-4;
    font-family: YekanBakh600;
}

.fileUrl {
    @apply flex items-center gap-4;
}

strong {
    @apply text-[9px] lg:text-[13px];
    font-family: YekanBakh600;
}

.fileUrl a {
    @apply !text-blue-600 text-[8px] lg:text-[12px] hover:underline;
    font-family: YekanBakh400;
}

.noDataTextStyle {
    color: gray;
}

/* scrollbar */
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #c2c2c2;
}

/* count down */
.countdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    z-index: 50;
    color: black;
    font-family: Arial, sans-serif;
    position: sticky;
    top: 0;
}

.countdown-timer {
    font-size: 1.5rem;
    animation: pulse 1s infinite;
}

.finished {
    font-size: 2rem;
    color: red;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
