@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");
@import url("./foundation/lib.css");
@import url("./foundation/_base.scss");

@layer base {
    html {
        font-family: "IranSans400";
    }
    * {
        font-family: "IranSans400";
    }
}

@font-face {
    font-family: IranSans300;
    font-weight: 300;
    src: url("./assets/fonts/IRANSansX-UltraLight.woff") format("woff");
}

@font-face {
    font-family: IranSans400;
    font-weight: 400;
    src: url("./assets/fonts/IRANSansX-Light.woff") format("woff");
}

@font-face {
    font-family: IranSans500;
    font-weight: 500;
    src: url("./assets/fonts/IRANSansX-Regular.woff") format("woff");
}

@font-face {
    font-family: IranSans600;
    font-weight: 600;
    src: url("./assets/fonts/IRANSansX-Medium.woff") format("woff");
}

@font-face {
    font-family: IranSans700;
    font-weight: 700;
    src: url("./assets/fonts/IRANSansX-DemiBold.woff") format("woff");
}

@font-face {
    font-family: IranSans800;
    font-weight: 800;
    src: url("./assets/fonts/IRANSansX-Bold.woff") format("woff");
}

*::-webkit-scrollbar {
    /* width */
    @media only screen and (min-width: 952px) {
        width: 10px !important;
    }
    @media only screen and (min-width: 672px) and (max-width: 951px) {
        width: 8px !important;
    }
    @media only screen and (max-width: 671px) {
        width: 6px !important;
    }
}

/* scrollbar */
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #c2c2c2;
}

@media print {
    body {
        overflow: visible !important;
    }
    * {
        visibility: visible !important;
        overflow: visible !important;
    }
}
