@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");
@import url("./foundation/_base.scss");

@layer base {
    * {
        font-family: "IranSans400";
    }
}

@font-face {
    font-family: IranSans300;
    font-weight: 300;
    src: url("./assets/fonts/IRANSansX-UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: IranSans400;
    font-weight: 400;
    src: url("./assets/fonts/IRANSansX-Regular.ttf") format("truetype");
}

@font-face {
    font-family: IranSans600;
    font-weight: 600;
    src: url("./assets/fonts/IRANSansX-DemiBold.ttf") format("truetype");
}

@font-face {
    font-family: IranSans700;
    font-weight: 700;
    src: url("./assets/fonts/IRANSansX-DemiBold.ttf") format("truetype");
}

/* high chart */
.highcharts-credits {
    display: none;
}

.highcharts-legend-item {
    display: none;
}
// scrollbar
/* scrollbar */

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    @apply w-1.5 lg:w-3;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #c2c2c2;
}