.content {
  @apply w-full font-bold flex flex-wrap p-2 bg-white bg-opacity-50 flex-col gap-2 rounded-lg border-2 border-gray-light;
}
.content .questionContent {
  @apply w-full inline-flex items-center justify-between;
}
.content .questionContent .label {
  @apply w-fit text-gray-darkest text-sm;
}
.content .questionContent .guideContent .guideContentButton {
  @apply bg-gray-lighter p-2 rounded-xl hover:bg-gray-light;
}
.content .dropDown {
  @apply absolute z-10 bg-white w-full text-sm font-semibold border border-gray-lighter rounded-md mt-1 shadow-lg;
}
.content .dropDown .dropDownTrue {
  @apply bg-gray-lighter px-4 py-2 cursor-pointer text-sm font-semibold hover:bg-gray-light;
}
.content .dropDown .dropDownFalse {
  @apply px-4 py-2 cursor-pointer hover:bg-gray-lighter;
}
.content .posWrapper {
  @apply relative;
}
.content .posWrapper .pos {
  @apply relative;
}
.content .posWrapper .pos .field {
  @apply w-full pl-10 text-sm font-semibold rounded-lg border-2 border-gray-lighter hover:border-gray-light focus:ring-1 focus:ring-gray-light;
}
.content .posWrapper .pos .span {
  @apply absolute left-0 top-1/2 translate-x-1/2 -translate-y-1/2;
}
.content .posWrapper .pos .fieldError {
  @apply border-red;
}
.content .posWrapper .dropDownOverlay {
  @apply fixed top-0 left-0 inset-0 z-0 bg-transparent w-screen h-screen;
}
.content .selectedOptionsContainer {
  @apply flex flex-wrap w-auto gap-2 items-center;
}
.content .selectedOptionsContainer .selectedOptions {
  @apply flex items-center text-sm p-2 rounded-lg bg-gray-lighter text-gray-darkest font-bold;
}
.content .selectedOptionsContainer .selectedOptions .optionCloseBtn {
  @apply hover:cursor-pointer;
}
.content .selectedOptionsContainer .selectedOptions .optionLabel {
  @apply px-2;
}
.content .educationalContentWrapper {
  @apply mb-2 mt-4 w-full;
}
.content .educationalContentWrapper .educationalContentButton {
  @apply flex w-full justify-center text-sm font-bold items-center gap-2 bg-gray-lighter rounded-md p-2 hover:bg-gray-light;
}