.container {
    @apply flex justify-center w-full px-2 pt-2 md:pt-1 pb-2;
    background: #e5e5e5;
}

.radios {
  @apply w-full flex justify-between md:w-fit md:gap-2 lg:gap-3;
}

.formItem{
  @apply flex flex-col py-[0.75rem] md:py-[0.25rem] px-[0.5rem] md:flex-row items-center justify-between w-full md:w-[70%] lg:w-[48%];
  border-radius: 4px;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.label{
  color: #000;
  font-family: YekanBakh700;
  font-size: 12px;
}

.required{
  color: #960018;
  position: relative;
  bottom: 5px;
}